/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Ubuntu', sans-serif; */

#title {
  background-color: #ff4c68;
  color: #fff;
}
body{
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat';
}
h2{
  font-weight: 300;
  font-size: 3rem;
  line-height: 1.5;

}
h3{
  font-weight: 900;
}
p{
  color: grey;
}

/* heading */

.big-heading{
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;

}

.container-fluid{
  padding: 3% 15% 7%;
}


/* navigation bar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: 'Montserrat';
  font-weight: 300;
  font-size: 1.2rem;
}
/* buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* title image */

.title-image{
  width:60%;
  transform: rotate(25deg);
  /* margin-left:70px; */
  position: absolute;
  right: 10%;
}

@media (max-width: 992px ){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}

/* features section */

#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:  #ff4c68
}
.feature-box{
  text-align: center;
  padding: 5%;
}
/* testimonial */

#testimonials{

  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.testimonial-image{
  border-radius: 100%;
  margin: 20px;
  width:10%;
}
#press{
  background-color: #ff4c68;
  padding-right: : 7% 15%;
  text-align: center;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding: 7% 15%;
}
/* pricing section */
#pricing{
  padding:7% 15%;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}

/* cta section and footer */

#cta{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}
.cta-btn{
  margin: 20px;
}

#footer{
  text-align: center;

  padding: 7% 15%;
}
.icon-footer{
  padding: 16px;
}
